<!DOCTYPE html>
<html lang="en" ng-app="clashOfClansRank">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="app/img/fav.jfif">
    <link rel="stylesheet" href="app/css/style.css">
    <script src="app/lib/angular.min.js"></script>
    <title>Clash of Clans Rank</title>
</head>

<body>
    <div ng-controller="clashOfClansRank">
        <div class="app-container" ng-class="{showTable:table == true }">
            <header class="header__container">
                <h2>Veja o ranking Atual de Cada país</h2>

                <select  ng-model="country" ng-options="data.name for data in countries">

                </select><br>

                <button class="header__container__button" ng-click="getData();">Ver Ranking</button>
            </header>
            <div ng-show="loading" class="loading-container">
                <img src="https://hosted.where2getit.com/benjerry/images/loading-icon.gif"/>
            </div>
            <div ng-show="table"  class="table-container">
                <div class="table-wrapper">
                    <div class="table__header">
                        <span>
                            <strong>Rank</strong>
                        </span>
                        <span>
                            <strong>Nome</strong>
                        </span>
                        <span>
                            <strong>Clan Level</strong>
                        </span>
                        <span>
                            <strong>Clan Points</strong>
                        </span>
                        <span>
                            <strong>País</strong>
                        </span>
                    </div>

                    <div ng-repeat="rank in rankings" class="table__row">
                        <span>{{ rank.rank }}</span>
                        <span>{{ rank.name }}</span>
                        <span class="clan"><img class="clan_img" ng-src={{rank.badgeUrls.small}}> {{ rank.clanLevel }}</span>
                        <span>{{ rank.clanPoints }}</span>
                        <span>{{ rank.location.name }} </span>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="app/app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>